.formation-title {
    font-weight: bold;
    background-color: #9ac1c1;
    margin-bottom: 0;
    padding: 35px;
    text-align: center;
}
.list-group{
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.list-group-item{
    color: #74aaaa;
}
