<app-titre [titre]="titre"></app-titre>
<div class="container mt-5">
    <div class=" bloc-text row text m-4">
        <div class=" col-md-8 text-center">
            <p>Notre offre de formations en informatique est étudiée pour répondre aux besoins les plus variés : des grands standards aux technologies les plus pointues, des séminaires état de l’art aux cursus métier organisés sur plusieurs semaines, nous vous proposons près de 1 150 programmes dédiés à l’acquisition rapide de nouveaux savoirs.
               <br><br> Au-delà de nos offres dédiées aux technologies, aux méthodes et aux métiers de l’informatique, nous proposons également des solutions de formation sur les champs du Management, de l’Efficacité professionnelle et du Développement personnel.</p>
        </div>
        <div class="col-md-4">
            <img src="../assets/img/img-formation.jpg" alt="image formation" class="img-fluid ">
        </div>
    </div>
    <form>
        <div class="d-flex justify-content-center">
            <div class="col-md-9 d-flex justify-content-center">
                <div class="input-group input-group-lg ">
                        <input type="text" class="form-control" aria-label="Sizing example input" placeholder="Recherche..." aria-describedby="inputGroup-sizing-lg">
                    </div>
                    <button class="search-btn" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 33 23" fill="none">
                            <path d="M13.5694 2.38721C19.0479 2.38721 23.4892 5.59352 23.4892 9.54871C23.4892 11.1816 22.7321 12.687 21.4576 13.8917L27.7311 18.4222C28.2476 18.7951 28.2476 19.3997 27.7311 19.7726C27.2543 20.1168 26.504 20.1432 25.9852 19.852L25.8606 19.7726L19.5852 15.2435C17.9164 16.1636 15.8312 16.7102 13.5694 16.7102C8.09079 16.7102 3.64954 13.5039 3.64954 9.54871C3.64954 5.59352 8.09079 2.38721 13.5694 2.38721ZM13.5694 4.29694C9.55175 4.29694 6.29483 6.64823 6.29483 9.54871C6.29483 12.4492 9.55175 14.8005 13.5694 14.8005C17.587 14.8005 20.8439 12.4492 20.8439 9.54871C20.8439 6.64823 17.587 4.29694 13.5694 4.29694Z" fill="#212121"/>
                        </svg>
                    </button>
            </div>
        </div>
    </form>
    <app-card></app-card>
    
</div>


