<app-titre [titre]="titre"></app-titre>
<div class="container mt-5">
    <div class=" bloc-text row text m-4">
        <div class=" col-md-8 text-center">
            <p>Notre offre de formations en informatique est étudiée pour répondre aux besoins les plus variés : des grands standards aux technologies les plus pointues, des séminaires état de l’art aux cursus métier organisés sur plusieurs semaines, nous vous proposons près de 1 150 programmes dédiés à l’acquisition rapide de nouveaux savoirs.
               <br><br> Au-delà de nos offres dédiées aux technologies, aux méthodes et aux métiers de l’informatique, nous proposons également des solutions de formation sur les champs du Management, de l’Efficacité professionnelle et du Développement personnel.</p>
        </div>
        <div class="col-md-4">
            <img src="../assets/img/img-formation.jpg" alt="image formation" class="img-fluid ">
        </div>
    </div>
    <div class="row d-flex justify-content-center m-3">
        <div class="col-md-3 ">
            <div class=" list-group">
                    <h5 class="formation-title p-3">Langage du Web</h5>
                    <a href="#" class="list-group-item list-group-item-action">A second link item</a>
                    <a href="#" class="list-group-item list-group-item-action">A third link item</a>
            </div>
        </div>
            
    </div>

</div>


