    <h2 class="title-formation-search text-center">Trouver votre formation</h2>
    <div class=" search-bloc ">
      <form>
        <div class="">
            <div class="col d-flex justify-content-between mt-4">
              <label for="recherche" class="form-label-search">Votre recherhce</label> <a href="" class="href-formations">Toutes nos formations ></a>
          </div>
          <input class=" input-custom form-control form-control-sm mt-2" type="text" placeholder="Cloud, Cybersecurité, data" aria-label=".form-control-sm example">
        </div>
        <div class="text-center mt-4">
          <button type="submit" class=" btn-search btn ">Rechercher</button>
        </div>
      </form>
  </div>
