
  
    .search-bloc{
      border-radius: 20px;
      width: 429px;
      height: 218px;
      padding: 20px;
      background-color: #00000050;
    }
  
    .title-formation-search{
      color: #000;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  
    .form-label-search{
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      color: #000;
    }
  
    .btn-search{
      color: #fff;
      border: 2px solid #648860;
      border-radius: 25px;
      padding: 5px,25px;
    }

    .btn-search:hover{
      color: #fff;
      background-color: #648860;
    }
  
    .href-formations{
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-decoration: none;
      color: #000;
      text-align: center; 
     }

     .input-custom{
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      color: #000;
      border: 2px solid #49555a;
      border-radius: 25px;
     }