.card {
    margin-bottom: 50px;
    background-color: #fff;
  }
  
  .header-image {
    background-size: cover;
  }
  
  .cover {
    height: 90px;
    border-radius: 10px;
    object-fit: contain;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 1rem;
    font-style: italic;
  }

  .text{
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .title{
    color: #000;
    font-family: Lora;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .bloc{
    background-color: #ffffff;
    border-radius: 58px;
    padding: 35px;
    margin: 50px;
  }

  .bloc-formation:hover{
    background-color: #c5d5c367;
    }

  .bloc-formation{
    border-radius: 30px;
    padding: 15px;
    margin: 10px;
  }

  .image{
    background: url(../../assets/img/imageHome.jpg);
    height: 450px;
     }

  .titleH2{
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 15px;
    }

    a{
      text-decoration: none;
      color: #000;
  }
  


